<div class="content">
  <h2>
    {{title}}
  </h2>
  <div *ngIf="i!==length">
    <button class="buttom-primary" (click)="guess(0)">
      Rane
    </button>
    <button class="buttom-primary" (click)="guess(1)">
      Eske
    </button>
  </div>
  <div *ngIf="i===length">
      Du fik {{nCorrect*100 / length | number:'0.2-2'}} % rigtige
  </div>
  <div *ngIf="guessed">
    <p *ngIf="correct">
    💎💎💎 Korrekt 💎💎💎
    </p>
    <p *ngIf="!correct">
    💩💩💩 Forkert 💩💩💩
    </p>
  </div>
  <p></p>
  <img *ngIf="i!==length" [src]="getImg()" width="100%">
</div>
